{% extends 'base.html' %}
{% load static %} 

{% block content %}

<form name="form1"  onclick="check_user()" onsubmit="return check()" method="POST" action="">
    {% csrf_token %}
    <fieldset>
        <legend align=left>Sign up</legend>
        <table>
<!--    <tr><td><b id="a">Who are you :</b> </td> 
    <td><input type="radio" name="mode" value="admin">Admin
        <input type="radio" name="mode" value="student">Student</td> </tr> -->
<tr>    <td><b>First NAME :</b> </td>  <td>{{form.fname}}</td></tr>
<tr>    <td><b>Last NAME  :</b></td><td> {{form.lname}}</td></tr>
<!--    <tr>    <td><b id="usr_mode">GR No      :</b></td><td> <input class="txt" type="number" name="no" required><br><br></td></tr>-->
<tr>    <td><b>E-mail     :</b> </td>  <td>{{form.e_mail}}</td></tr>
<tr>    <td><b>Mob No     :</b> </td>  <td>{{form.mob_no}}</td></tr>
<tr>    <td><b>USERNAME   :</b> </td><td>  {{form.uname}}</td></tr>
<tr>    <td><b>PASSWORD   :</b> </td><td>  {{form.password}}</td>
</tr>
<tr>
    
</tr>     

    </table>
    <input class="button" type="reset" value="Reset" required>
    <input class="button" type="submit" value="Submit" required><br>
    </fieldset>
</form>
<p id="signup">Have an Account <a href="studLogin.html"> <b> Login </b> </a> </p>





{% endblock %}